{
  "interval_secs": 1800,
  "location": "40.069562,-80.69173",
  "last_checked_id": 527141908095963136,
  "language": "en",
  "keywords": [
    {"keyword": "Wheeling, WV", "distance": "60mi"},
    {"keyword": "Wheeling Twitter Bot", "distance": "60mi"},
    {"keyword": "Wheeling Tweets", "distance": "10mi"},
    {"keyword": "Wheeling", "distance": "10mi"},
    {"keyword": "East Wheeling", "distance": "30mi"},
    {"keyword": "North Wheeling", "distance": "30mi"},
    {"keyword": "South Wheeling", "distance": "30mi"},
    {"keyword": "Downtown Wheeling", "distance": "30mi"},
    {"keyword": "Down Town Wheeling", "distance": "15mi"},
    {"keyword": "Wheeling Island", "distance": "10mi"},
    {"keyword": "Suspension Bridge", "distance": "10mi"},
    {"keyword": "Wheeling Heritage Port", "distance": "30mi"},
    {"keyword": "WJU", "distance": "30mi"},
    {"keyword": "WLU", "distance": "10mi"},
    {"keyword": "Wheeling Jesuit University", "distance": "40mi"},
    {"keyword": "Wheeling Jesuit", "distance": "40mi"},
    {"keyword": "West Liberty", "distance": "20mi"},
    {"keyword": "West Liberty University", "distance": "30mi"},
    {"keyword": "Market Street Now", "distance": "20mi"},
    {"keyword": "Centre Market", "distance": "10mi"},
    {"keyword": "Center Market", "distance": "10mi"},
    {"keyword": "Wheeling Tunnel", "distance": "10mi"},
    {"keyword": "Wheeling Tunnels", "distance": "20mi"},
    {"keyword": "Later Gator", "distance": "30mi"},
    {"keyword": "WCDS", "distance": "10mi"},
    {"keyword": "Wheeling Country Day", "distance": "10mi"},
    {"keyword": "Farm 18", "distance": "5mi"},
    {"keyword": "Grow Ohio Valley", "distance": "15mi"},
    {"keyword": "Wheeling Symphony", "distance": "15mi"},
    {"keyword": "Capital Theatre", "distance": "30mi"},
    {"keyword": "Capitol Theatre", "distance": "10mi"},
    {"keyword": "Children's Museum", "distance": "5mi"},
    {"keyword": "Avenue Eats", "distance": "5mi"},
    {"keyword": "Coleman's Fish Market", "distance": "15mi"},
    {"keyword": "Dicarlo's Pizza", "distance": "10mi"},
    {"keyword": "Vagabond Kitchen", "distance": "20mi"},
    {"keyword": "Market Vines", "distance": "10mi"},
    {"keyword": "Wesbanco Arena", "distance": "20mi"},
    {"keyword": "Dancing With the Stars", "distance": "10mi"},
    {"keyword": "Meet Me in the Alley", "distance": "15mi"},
    {"keyword": "OVYP", "distance": "20mi"},
    {"keyword": "Ohio Valley Young Preservationists", "distance": "30mi"},
    {"keyword": "The Blue Church", "distance": "5mi"},
    {"keyword": "Mt. Wood Cemetary", "distance": "5mi"},
    {"keyword": "Weelunk", "distance": "15mi"},
    {"keyword": "Handmade Escapade", "distance": "10mi"}
  ],
  "excluded_uids": [2820409627]
}
